@font-face {
  font-family: Century Gothic Regular;
  src: url('fonts/Century Gothic Regular.ttf') format('ttf');
  src: url('fonts/Cambria.ttf') format('ttf');
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.color-red {
  color: #ec2020;
}

.bgr-red {
  background-color: #ec2020;
  color: #fff;
}

html {
  font-size: 16px;
}

.navbar {
  top: -3000px;
  background-color: #fff;
  z-index: 300;
  font-family: "Century Gothic Regular";
  font-weight: 600;
}

.navbar .nav-link {
  padding-left: 80px;
}

.menu-order {
  width: 14vmax;
  padding: 18px 0;
  background-color: #ec2020;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  margin-bottom: 2rem;
}

header {
  background: url(../img/head_bgr.jpg) no-repeat;
  max-width: 1600px;
  width: 100%;
}

header .header__title {
  padding-left: 25%;
}

header .header__title h1 {
  font-family: "Century Gothic Regular";
  font-size: 7rem;
  padding-top: 7rem;
  color: #fff;
  width: 40rem;
  padding-bottom: 4rem;
}

header .header__title p {
  font-family: Cambria;
  font-size: 3rem;
  color: #ffffff;
  padding-top: 2rem;
}

.advantages {
  color: #000;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  max-width: 1600px;
}

.advantages h2 {
  font-size: 5rem;
  border-bottom: 2px solid #000;
  font-family: "Century Gothic Regular";
  text-align: center;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.advantages i {
  font-size: 4.5rem;
}

.advantages p.adv-item {
  font-family: "Cambria";
  font-size: 2rem;
  line-height: 1;
  padding: 0 2rem;
  margin-bottom: 6rem;
}

.block-wrap {
  width: 100%;
}

.fixed-menu {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 10%;
  width: 19rem;
  z-index: 40;
  /*menu-items*/
}

.fixed-menu .menu-items {
  background-color: #fff;
}

.fixed-menu .menu-items .menu-item {
  padding: 22px 35px;
}

.fixed-menu .menu-items .menu-item:first-child {
  padding-top: 138px;
}

.fixed-menu .menu-items .menu-item:nth-child(4) {
  margin-bottom: 205px;
}

.fixed-menu .menu-items .menu-item a {
  text-decoration: none;
  font-size: 1.25vmax;
  font-family: 'Century Gothic Regular';
  color: #000;
}

.fixed-menu .menu-items .menu-item a:hover {
  color: #a21a1a;
}

.fixed-menu .order-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8%;
}

.fixed-menu .order-items .menu-order {
  width: 14vmax;
  padding: 18px 0;
  background-color: #ec2020;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  margin-bottom: 2rem;
}

.fixed-menu .order-items .menu-order span {
  font-size: 3vmin;
  font-family: 'Century Gothic Regular';
  color: #fff;
}

.fixed-menu .order-items .contacts {
  display: block;
  line-height: 2.5rem;
  font-size: 1.25vmax;
  font-family: 'Century Gothic Regular', sans-serif;
}

/*fixed-menu*/

.slider {
  color: #fff;
  font-family: 'Century Gothic Regular';
  text-align: center;
  background: url(../img/slide1.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  max-width: 1600px;
  width: 100%;
}

.slider .prev {
  position: absolute;
  top: 25%;
  left: 5%;
  z-index: 20;
  max-width: 5rem;
  width: 100%;
}

.slider .next {
  position: absolute;
  top: 25%;
  left: 90%;
  z-index: 20;
  max-width: 5rem;
  width: 100%;
}

.slider .slider-content {
  max-width: 60rem;
  width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider .slider-content h2 {
  font-size: 7em;
  margin-top: 1em;
}

.slider .slider-content h3 {
  font-size: 3em;
  font-family: "Cambria";
  margin-top: 1.5em;
}

.slider .slider-content span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: justify;
  margin-top: 50px;
  font-family: 'Cambria';
  font-size: 2em;
}

.slider .slider-content button {
  background-color: #ec2020;
  color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 634px;
  height: 168px;
  font-size: 4rem;
  margin: 2em 0;
  border: none;
}

/*slider*/

.our-contacts {
  max-width: 1600px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.our-contacts h2 {
  margin-bottom: 30px;
  font-size: 8rem;
  font-family: "Century Gothic Regular";
}

.our-contacts form {
  margin-top: 2rem;
  margin-left: -1.8rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-contacts form input,
.our-contacts form textarea {
  padding: 20px;
  margin-bottom: 10px;
  width: 880px;
  background-color: #ccc;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: "Cambria";
  font-size: 2rem;
  color: #000;
}

.our-contacts span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-contacts .btn-send {
  background-color: #ec2020;
  text-align: center;
  border: none;
  color: #fff;
  max-width: 520px;
  width: 100%;
  font-size: 60px;
  padding: 34px 0;
  margin-top: 3rem;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-family: "Century Gothic Regular";
}

/* Медиа запросы */

@media only screen and (min-width: 1661px) {
  .block-wrap {
    width: 84%;
    -webkit-transform: translateX(20%);
        -ms-transform: translateX(20%);
            transform: translateX(20%);
  }
}

@media screen and (max-width: 1200px) {
  .our-contacts form input,
  .our-contacts form textarea {
    width: 750px;
  }
}

@media only screen and (min-width: 1337px) and (max-width: 1660px) {
  .fixed-menu {
    width: 20%;
  }

  .block-wrap {
    width: 83%;
    -webkit-transform: translateX(23%);
        -ms-transform: translateX(23%);
            transform: translateX(23%);
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  header {
    height: auto;
  }

  .fixed-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .fixed-menu .menu-items {
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
  }

  .block-wrap {
    -webkit-transform: translateX(25.5%);
        -ms-transform: translateX(25.5%);
            transform: translateX(25.5%);
    width: 80%;
  }

  .order-items {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .navbar {
    width: 100%;
    top: 0;
    left: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .fixed-menu {
    display: none;
  }

  .block-wrap {
    width: 1336px;
  }
}

@media (min-width: 320px) and (max-width: 990px) {
  .navbar {
    top: 0;
    left: 20px;
    background-color: #fff;
    color: #000;
  }

  .navbar .navbar-nav {
    padding-left: -30px;
  }

  .navbar .navbar-nav a {
    color: #000;
    margin-left: -3%;
  }

  .fixed-menu {
    display: none;
  }

  .block-wrap {
    max-width: 990px;
    width: 100%;
  }
}