@font-face {
  font-family: Century Gothic Regular;
  src: url('fonts/Century Gothic Regular.ttf') format('ttf');
  src: url('fonts/Cambria.ttf') format('ttf');
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.color-red {
  color: #ec2020;
}

html {
  font-size: 16px;
}

/*******************************************/

/*******************************************/

.side-block {
  max-width: 300px;
  width: 100%;
}

header {
  background: url(/img/head_bgr.jpg) no-repeat;
  max-width: 1600px;
  width: 100%;
  height: 980px;
}

header .header__title {
  margin-left: 15.8rem;
}

header .header__title h1 {
  font-family: "Century Gothic Regular";
  font-size: 7rem;
  padding-top: 6rem;
  color: #fff;
  width: 40rem;
  margin-bottom: 4rem;
}

header .header__title p {
  font-family: Cambria;
  font-size: 3rem;
  color: #ffffff;
  padding-top: 2rem;
}

/** Advantages **/

.advantages {
  color: #000;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  max-width: 1580px;
}

.advantages h2 {
  font-size: 5rem;
  border-bottom: 2px solid #000;
  font-family: "Century Gothic Regular";
  text-align: center;
  padding-bottom: 3rem;
  margin-bottom: 4rem;
}

.advantages i {
  font-size: 4.5rem;
}

.advantages p.adv-item {
  font-family: "Cambria";
  font-size: 2rem;
  line-height: 1;
  padding: 0 2rem;
  margin-bottom: 6rem;
}

/******************************************/

.fixed-menu {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 280px;
  width: 100%;
  z-index: 10;
  /*menu-items*/
  /*order-items*/
}

.fixed-menu .menu-items {
  padding: 8rem 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fixed-menu .menu-items .menu-item {
  padding-bottom: 3rem;
}

.fixed-menu .menu-items .menu-item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Century Gothic Regular', sans-serif;
  color: #000;
}

.fixed-menu .menu-items .menu-item a:hover {
  color: #a21a1a;
}

.fixed-menu .order-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed-menu .order-items .menu-order {
  width: 231px;
  padding: 18px 0;
  background-color: #ec2020;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  margin-bottom: 2rem;
}

.fixed-menu .order-items .menu-order span {
  font-size: 24px;
  font-family: 'Century Gothic Regular', sans-serif;
  color: #fff;
}

.fixed-menu .order-items .contacts {
  line-height: 3rem;
  font-size: 1.5rem;
  font-family: 'Century Gothic Regular', sans-serif;
}

/*fixed-menu*/

/*************************************/

.slider {
  color: #fff;
  font-family: 'Century Gothic Regular';
  text-align: center;
  background: url(/img/slide1.jpg) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  max-width: 1600px;
  width: 100%;
  /*slider-content*/
}

.slider .prev {
  position: relative;
  top: 0;
  left: -40%;
  z-index: 20;
  max-width: 5rem;
  width: 100%;
  -webkit-transform: translateY(307%);
      -ms-transform: translateY(307%);
          transform: translateY(307%);
}

.slider .next {
  position: relative;
  top: 100%;
  left: 40%;
  z-index: 20;
  max-width: 5rem;
  width: 100%;
  -webkit-transform: translateY(-880%);
      -ms-transform: translateY(-880%);
          transform: translateY(-880%);
}

.slider .slider-content {
  max-width: 60rem;
  width: 100%;
  text-align: center;
}

.slider .slider-content h2 {
  font-size: 7rem;
}

.slider .slider-content h3 {
  font-size: 3rem;
  font-family: "Cambria";
  margin-top: 40px;
}

.slider .slider-content span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: left;
  margin-top: 50px;
  font-family: 'Cambria';
  font-size: 2.2rem;
}

.slider .slider-content button {
  background-color: #ec2020;
  color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 634px;
  height: 168px;
  font-size: 4rem;
  margin-top: 100px;
  border: none;
}

/*slider*/

/*************************************/

.our-contacts {
  max-width: 1600px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  /*form*/
  /*contact-btn*/
}

.our-contacts h2 {
  margin-bottom: 30px;
  font-size: 8rem;
  font-family: "Century Gothic Regular";
}

.our-contacts form {
  margin-top: 2rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-contacts form input,
.our-contacts form textarea {
  padding: 20px;
  margin-bottom: 10px;
  width: 880px;
  background-color: #ccc;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-family: "Cambria";
  font-size: 2rem;
  color: #000;
}

.our-contacts .contact-btn {
  background-color: #ec2020;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  border: none;
  color: #fff;
  max-width: 520px;
  width: 100%;
  font-size: 60px;
  padding: 34px 0;
  margin-top: 4rem;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-left: 10rem;
  font-family: "Century Gothic Regular";
}

/*our-contacts*********************************/

@media screen and (min-width: 1440px) {
  .fixed-menu {
    max-width: 180px;
    font-size: 0.1rem;
  }

  .fixed-menu .order-items {
    padding-left: 70px;
  }

  .fixed-menu .order-items button,
  .fixed-menu .order-items .contacts {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media screen and (max-width: 1200px) {
  .slider .next {
    -webkit-transform: translateY(-880%);
        -ms-transform: translateY(-880%);
            transform: translateY(-880%);
  }
}

@media screen and (max-width: 1024px) {
  .fixed-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1024px;
    height: 6rem;
    width: 100%;
  }

  .fixed-menu .menu-items {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 20px 0 10px;
  }

  .fixed-menu .menu-items .menu-item a {
    margin-right: 15px;
    font-size: 0.9rem;
  }

  .fixed-menu .menu-items .menu-item a:first-child {
    margin-left: 10px;
  }

  .fixed-menu .menu-order {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    margin: 2rem -40px;
  }

  .fixed-menu .contacts p {
    line-height: 2rem;
    font-size: 1rem;
    padding-left: 30px;
  }

  .slider-content p {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}